.changepassword {
  height: 525px;
  width: 700px;

  margin: auto;
  margin-top: 100px;

  background: url("../images/form_changepassword.png"), #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  padding: 150px 85px 150px 0;
}

.contain-input {
  width: 100%;
  height: auto;

  padding: 60px 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.changepassword input {
  padding: 15px 20px;

  font-weight: 500;
  font-size: 16px;
  color: #3d5554;

  width: 100%;
  height: auto;

  background: white;
  border-radius: 10px;
  outline: none;

  border-style: solid;
  border-color: #3d55547d;
  border-width: 0.5px;
}

.changepassword input:focus {
  border-style: solid;
  border-color: #3d55547d;

  border-width: 2px;
}

.changepassword input::placeholder {
  color: #3d555466;
  font-size: 16px;
}

.changepassword button {
  height: 50px;
  width: 150px;

  border-radius: 10px;

  font-size: 14px;
  font-weight: 700;
  color: white;
  background: #c99c33;

  white-space: normal;
}

.changepassword button:hover {
  background: #c99c3377;
}

#notify-error{
  color:red;
  font-size: 12px;
  font-weight: 500;
}
