.navcontain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 60px;
  padding: 20px;

  margin-top: 20px;
}

.header-name-page {
  width: 100%;
  height: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 60px;
  display: flex;
  align-items: center;
  flex-flow: column;
  color: #c99c33;
  background: url("../images/navbar.png"), #3d5554;
  border-radius: 360px;
}

.contain {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
}

form {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;

  position: relative;
  height: 510px;
  width: 710px;

  margin-top: 100px;
  margin-bottom: 100px;

  background: url("../images/form.png"), #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

form input {
  font-weight: 500;
  font-size: 16px;
  color: #3d5554;

  width: 100%;
  height: 60px;

  padding-left: 20px;
  padding-right: 20px;

  background: #f3f3f3;
  border-radius: 30px;
  outline: none;
}

form input::placeholder {
  color: #3d555466;
  font-size: 16px;
}

form input:focus {
  border-style: solid;
  border-color: #3d55547d;
}

form button {
  padding: 0px 20px;

  /* 1990B2 */

  border-color: #3d5554;
  border-style: solid;
  border-radius: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  color: #3d5554;
}

form button:hover {
  background-color: #3d5554;
  color: white;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

form .text-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 30px;
}

form .text-contain .forgotpassword a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #3d5554;
  text-decoration: none;
}

form .text-contain .donthavaaccount {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #3d5554;
}

form .pass-contain {
  display: flex;
  flex-flow: row;
  gap: 10px;

  width: 100%;
  height: auto;
}

.donthavaaccount a {
  padding-left: 10px;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#messError {
  color: red;
}

button .login {
  padding: 10px 30px;
}
