nav {
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: transparent;
}

nav li {
    float: right;
}

li a {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #c99c33;
}

a.important {
    border-style: solid;
    border-radius: 10px;
}

li a:hover {
    color: #c99c337c;
}

li a.important:hover {
    background-color: #c99c33;
    color: white;
}

li div {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #c99c33;
    cursor: pointer;
}

div.important {
    border-style: solid;
    border-radius: 10px;
}

li div:hover {
    color: #c99c337c;
}

li div.important:hover {
    background-color: #c99c33;
    color: white;
}

.intro {
    position: relative;
    margin-left: 0%;
}