@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;700;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #3d5554;
  --secondary-color: #e1eceb;
  --tertiary-color: #c99c33;
  --fourth-color: #1ab2a7;
  --fifth-color: #1990b2;
}
* {
  font-family: "Roboto","Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
body {
  background-color: white;
}

